/*#grabBlue {
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position: absolute;
  margin-left:auto;
  cursor: pointer;
}*/
/*.button:hover {background-color: #3e8e41;
				box-shadow: 0 9px #999;}*/



#grabPurple{
    background-color: #cb3594;
    border:1px solid #cb4594;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 5%; top: 5%;
    width: 40px;
    height: 40px;
}
#grabGreen{
    background-color: #659b41;
    border:1px solid #659b41;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 15%; top: 60%;
    width: 40px;
    height: 40px;
}
#grabYellow{
    background-color: #ffcf33;
    border:1px solid #ffcf33;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 5%; top: 45%;
    width: 40px;
    height: 40px;
}
#grabBlue{
    background-color: #0000FF;
    border:1px solid #0000FF;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 25%; top: 5%;
    width: 40px;
    height: 40px;
}
#grabRed{
    background-color: #FF0000;
    border:1px solid #FF0000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 25%; top: 45%;
    width: 40px;
    height: 40px;
}
#grabBrown{
    background-color: #986928;
    border:1px solid #986928;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 15%; top: 25%;
    width: 40px;
    height: 40px;
}
#grabBlack{
    background-color: #000000;
    border:1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute; left: 35%; top: 25%;
    width: 40px;
    height: 40px;
}
#clear_canvas_simple{
    background: url("images/broom2.png") repeat scroll center center transparent;
    /*border-radius: 3px;*/
    /*box-shadow: 2px 2px 2px #444444;*/
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 10%; top: 5%;
}
#clear_canvas_simple:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#clickEraser{
    background: url("images/eraser.png") repeat scroll center center transparent;
    /*border-radius: 3px;*/
    /*box-shadow: 2px 2px 2px #444444;*/
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 30%; top: 5%;
}
/*Here name:hover means "when mouse hover over button/spanning area"*/
#clickEraser:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}
.enableButton {
    pointer-events: all;
    opacity: 1;
}
#undoButton{
    background: url("images/undo.png") repeat scroll center center transparent;
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute; left: 40%; top: 5%;
}
#redoButton{
    background: url("images/redo.png") repeat scroll center center transparent;
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute; left: 50%; top: 5%;
}
#redoButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#undoButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#canvasSimpleDiv{
    border:1px solid #000000;
    margin: 0 0 0 0;
    float:left;
    clear:right;
    position: absolute; left: 10%; top: 20%;
    /*width: 100%;
    height: calc(100% -20px);*/
    cursor: crosshair;
    /*margin-left:auto;*/
}
div{
    display: block;
}
html, body {
			width: 100%;
			height: 100%;
			margin: 0px;
			border: 0;
			overflow: hidden; /*  Disable scrollbars */
			display: block;  /* No floating content on sides */
}
#pickColor {
    cursor: auto;
    float: left;
    margin: 10px;
    border: 0;
}
.colorWheel {
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    left:20%; top: 15%;
    width: 400px;
    height: 200px;
}
.preview {
    background: url("images/paint2.png") repeat scroll center center transparent;
    border-radius: 3px;
    /*border:4px solid #000000;*/
    /*box-shadow: 2px 2px 2px #444444;*/
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 20%; top: 5%;
}
.pickSize{
    background-image: url("images/icons8-line-width-101.png");
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 60%; top: 5%;
}
.sizes{
    display: none;
    background-color: #222222;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 2px #444444;
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    left:60%; top: 15%;
    width: 200px;
    height: 50px;
}
#save{
    background-image: url("images/save.png");
    cursor: pointer;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 70%; top: 5%;
}
.preview:hover {
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
